{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-center">Login</h3>

    {{ form_start(loginForm) }}
    {{ form_widget(loginForm) }}
    {{ form_end(loginForm) }}

    <div>
        <a href="{{ path('register_form') }}">
            <button type="button" class="btn btn-outline-primary float-right" style="display: inline-block">
                Register
            </button>
        </a>
    </div>
{% endblock %}
