{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="text-center">Registration</h3>

    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    {{ form_end(registerForm) }}

{% endblock %}
