{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-center">Validate OTP</h3>

    {{ form_start(validateOtpForm) }}
    {{ form_widget(validateOtpForm) }}
    {{ form_end(validateOtpForm) }}
{% endblock %}
