{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="text-center">Create Contact</h3>

    {{ form_start(createContactForm) }}
    {{ form_widget(createContactForm) }}
    {{ form_end(createContactForm) }}

{% endblock %}
