{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="text-center">Create Contact</h3>

    {{ form_start(editContactForm) }}
    {{ form_widget(editContactForm) }}
    {{ form_end(editContactForm) }}

{% endblock %}
