{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h3 style="margin: 20px; display: inline-block">Contacts List</h3>
        {# TODO: ROUTE SHOULD BE TO CREATE CONTACT PAGE #}
        <a href="{{ path('contact-create', {'userId': user.id}) }}">
            <button type="submit" class="btn btn-outline-primary float-right" style="display: inline-block">
                Create New Contact
            </button>
        </a>
    </div>


    {% if contacts is empty %}
        <div>
            <h4 class="text-center">There are no Contacts yet</h4>
        </div>
    {% else %}

        <div>
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Address</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>
                            <img height="100px" width="100px" src="{{ asset('images/Contact-Images/') ~ contact.image  }} " alt="N/a">
                        </td>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.email ?? "N/a" }}</td>
                        <td>{{ contact.phoneNumber ?? "N/a" }}</td>
                        <td>{{ contact.jobTitle ?? "N/a" }}</td>
                        <td>{{ contact.address ?? "N/a" }}</td>
                        <td>{{ contact.createdAt|date('Y-m-d') }}</td>
                        <td>{{ contact.updatedAt is defined ? contact.updatedAt|date('Y-m-d') : "N/a" }}</td>
                        <td>

                            {# Edit Contact#}
                            <a href="{{ path('contact-edit', {'contact': contact.id }) }}">
                                <button type="submit" class="btn btn-success" style="display: inline-block">
                                    EDIT
                                </button>
                            </a>

                            {# DELETE Contact#}
                            <form action="{{ path('contact-delete', {'contact': contact.id }) }}" method="post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                                <input type="hidden" name="_method" value="DELETE" />
                                <input type="hidden" name="token" value="{{ csrf_token('delete-contact') }}"/>
                            </form>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

{% endblock %}
